<div class="row center-xs">
	<div class="col-xs-12 col-sm-12 col-md-11 col-lg-10 cero-padding">
		<%= render "sliderpatallacompleta" %>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-11 col-lg-10 cero-padding marin-top">
		<div class="row">
			<div class="col-xs center">
				<h4 class="fondos_h text-shadow left-align" ><%= link_to "HOME/ANDROID/",root_path%></h4>
				<h1 class="fondos_h text-shadow oculto" >Aplicaciones para Android</h1>
				<main class="sombras" >		
					<%= render @articles %>
					<div class="col-xs-12 border-top pagination">
						<%= will_paginate @articles,:container => false %>
					</div>
				</main>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-11 col-lg-10  marin-top">
  		<%= render "aside"%>
  	</div>
</div>

<%= render "parciales/footer" %>

<div class="fixed-action-btn " style="bottom: 49px; right: 0px;">
    <a class="btn-floating btn-large black">
      <i class="large material-icons">share</i>
    </a>
    <ul>
      <li><a class="btn-floating red" href='http://plus.google.com/share?url=http://dowloadapps.herokuapp.com/' rel='nofollow' target='_blank' onClick="window.open(this.href,this.target,'width=500,height=500,top=210,left=360'); return false;"><i class="fa fa-google-plus"></i></a></li>

      <li><a class="btn-floating blue" href='https://twitter.com/intent/tweet?url=http://dowloadapps.herokuapp.com/&text=dowloadapps&via=dowloadapps' rel='nofollow' target='_blank' onClick="window.open(this.href,this.target,'width=500,height=500,top=210,left=360'); return false;"><i class="fa fa-twitter"></i></a></li>

      <li><a href="http://www.facebook.com/sharer.php?u=http://dowloadapps.herokuapp.com/" class="btn-floating blue darken-4" rel='nofollow' target='_blank' onClick="window.open(this.href,this.target,'width=500,height=500,top=210,left=360'); return false;"><i class="fa fa-facebook"></i></a></li>
    </ul>
</div>
</div>