<div class="row marin-top center-xs">
	<div class="col-xs-12 col-sm-12 col-md-11 col-lg-10 ">
		<h4 class="fondos_h text-shadow" ><%= link_to "HOME/ANDROID/",root_path%><%= link_to @article.title, @article%></h4>
		<main class=" center-align sombras" >						
			<div class="row ">
				<div class="col-xs-12 border-bottom margin-bottom">
					<div class="row card-header">
						<div class="col-xs-4 right-align">
							<% unless @article.user.nil? %>
								<i class="fa fa-user show-icon"></i>
								<span class="show-user">Posted by: <%=@article.user.username%></span>
							<%end%>
						</div>
						<div class="col-xs-4 right-align">
							<i class="fa fa-calendar show-icon"></i>
							<span class="show-user"><%=time_ago_in_words(@article.created_at)%></span>
						</div>
						<div class="col-xs-4 right-align show-icon">
							<i class="fa fa-eye"></i>
							<span class="show-user">Visitas:<%=@article.visits_count%></span>
						</div>
					</div>
				</div>

			

				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 margin-left">	
					<%= image_tag @article.image.url,:class=>"show-imagen materialboxed" %>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
					<div class="col-xs">
						<h2 class="show-title text-left"><%=@title = @article.title%></h2>
					</div>
					<div class="col-xs left-align">
						<i class="fa fa-tag show-icon"></i>
						<% @article.tags.each do |tag| %>
						    <%= link_to tag.name, tag_path(tag),:class=>"show-color-text" %>
						<% end %>
					</div>
					<div class="valign-wrapper">
						<a href="<%=@article.link_des%>" class="waves-effect waves-light btn-large marin-top " style="width:100%; height:4em !important;"><i class="material-icons right ">cloud_download</i>DESCARGAR <%=@article.tamano%>MB</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 right">
					<div class='share-post'>
						<strong style='margin:0 0 10px;display:block; font-weight: bold;'>Comparte en:</strong>
						<div class="row">
							<div class="col-xs-4 col-sm-12 col-md-12 col-lg-12">
						    	<li><a class='facebook' href='http://www.facebook.com/sharer.php?u=http://dowloadapps.herokuapp.com/android/<%=@article.slug%>' rel='nofollow' target='_blank' onClick="window.open(this.href,this.target,'width=500,height=500,top=210,left=360'); return false;"><i class='fa fa-facebook'></i>Facebook</a></li>
						    </div>
						    <div class="col-xs-4 col-sm-12 col-md-12 col-lg-12">
						    <li><a class='twitter' href='https://twitter.com/intent/tweet?url=http://dowloadapps.herokuapp.com/android/<%=@article.slug%>&text=dowloadapps&via=dowloadapps' rel='nofollow' target='_blank' onClick="window.open(this.href,this.target,'width=500,height=500,top=210,left=360'); return false;"><i class='fa fa-twitter'></i>Twitter</a></li>
						    </div>

						    <div class="col-xs-4 col-sm-12 col-md-12 col-lg-12">
						    <li><a class='gplus' href='http://plus.google.com/share?url=http://dowloadapps.herokuapp.com/android/<%=@article.slug%>' rel='nofollow' target='_blank' onClick="window.open(this.href,this.target,'width=500,height=500,top=210,left=360'); return false;"><i class='fa fa-google-plus'></i>Google+</a></li>
						    </div>
					    </div>
					</div>
				</div>
			</div>

			<div class="border-top">
				<h4 class="caracteristicas">Caracteristicas</h4>
				<%= Sanitize.fragment(@article.body, Sanitize::Config::RELAXED).html_safe%>
			</div>

			<div class="row">
				<div class="col-xs left-align">
					<%if can? :update, @article%>
						<%= link_to 'Edit', edit_article_path(@article) %>
					<%end%>
				</div>
				<div class="col-xs right-align">
					<%if can? :destroy, @article%>
						<%= link_to 'Back', articles_path %>
					<%end%>
				</div>
			</div>
		</main>

		<div class="row sombras">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-6 left-align">
						<h5>Comentarios</h5>
					</div>
					
				</div>
				<% if user_signed_in?%>

		        <%else%>
		        	
		        	<div class="row">
		        		<div class="col-xs-12 center-align margin-bottom">
		        			<strong style="font-weight: bold;">Registra tu cuenta o ingresa para comentar.</strong>
		        		</div>
		        		<%= render "btnRegistration" %>
		        	</div>
		        <%end%>
			</div>
		</div>
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-11 col-lg-10">
		<%= render "aside" %>
	</div>
</div>
<%= render "parciales/footer" %>