<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- dowloadappsadaptable -->
<div class="row cero-margin">
	<div class="col-xs">
		<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5053365791951337" data-ad-slot="2360559806" data-ad-format="auto"></ins>
	</div>
</div>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div class="row marin-top center-xs">
	<%= render "parciales/tags" %>
	<div class="col-xs-12 col-sm-12 col-md-11 col-lg-10 cero-padding">
		<h4 class="fondos_h text-shadow" ><%= link_to "HOME/ANDROID/",root_path%><%= link_to @article.title, @article%></h4>
		<main class=" center-align sombras" >						
			<div class="row ">
				<div class="col-xs-12 border-bottom margin-bottom">
					<div class="row card-header">
						<div class="col-xs-4 right-align">
							<% unless @article.user.nil? %>
							<i class="fa fa-user show-icon"></i>
							<span class="show-user">Posted by: <%=@article.user.username%></span>
							<%end%>
						</div>
						<div class="col-xs-4 right-align">
							<i class="fa fa-calendar show-icon"></i>
							<span class="show-user"><%=time_ago_in_words(@article.created_at)%></span>
						</div>
						<div class="col-xs-4 right-align show-icon">
							<i class="fa fa-eye"></i>
							<span class="show-user" data-no-turbolink="true">Visitas:<%=@article.visits_count%></span>
						</div>
					</div>
				</div>

				

				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 margin-left">	
					<img src="<%= @article.image.url(:show)%>"class="show-imagen materialboxed" alt="<%= @article.title%> - V.<%= @article.version %>">
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
					<div class="col-xs">
						<h2 class="show-title text-left"><%=@title = @article.title%></h2>
						<h6 class="version text-left grey-text text-lighten-1">V.<%=@article.version%></h6>
					</div>
					<div class="col-xs left-align">
						<i class="fa fa-tag show-icon"></i>
						<% @article.tags.each do |tag| %>
							<%= link_to tag.name, tag_path(tag),:class=>"show-color-text" %>
						<% end %>
					</div>
					<div class="row cero-margin">
						<div class="valign-wrapper col-xs">
							<a href="<%=@article.link_des%>" target="_blank" class="padding-button-show waves-effect waves-light btn-large marin-top " style="width:100%; height:4em !important;"><i class="fa fa-download right"></i>APK <%=@article.tamano%>MB</a>
						</div>
						<% unless @article.pesodatos.nil?%>
						<div class="valign-wrapper col-xs">
							<a href="<%=@article.datos%>" target="_blank" class="padding-button-show waves-effect waves-light btn-large marin-top " style="width:100%; height:4em !important;"><i class="fa fa-download right"></i>DATOS <%=@article.pesodatos%>MB</a>
						</div>
						<%end%>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 right">
					<div class='share-post'>
						<strong style='margin:0 0 10px;display:block; font-weight: bold;'>Comparte en:</strong>
						<div class="row">
							<div class="col-xs-4 col-sm-12 col-md-12 col-lg-12">
								<li><a class='facebook' href='http://www.facebook.com/sharer.php?u=http://dowloadapps.herokuapp.com/android/<%=@article.slug%>' rel='nofollow' target='_blank' onClick="window.open(this.href,this.target,'width=500,height=500,top=210,left=360'); return false;"><i class='fa fa-facebook'></i>Facebook</a></li>
							</div>
							<div class="col-xs-4 col-sm-12 col-md-12 col-lg-12">
								<li><a class='twitter' href='https://twitter.com/intent/tweet?url=http://dowloadapps.herokuapp.com/android/<%=@article.slug%>&amp;text=dowloadapps&amp;via=dowloadapps' rel='nofollow' target='_blank' onClick="window.open(this.href,this.target,'width=500,height=500,top=210,left=360'); return false;"><i class='fa fa-twitter'></i>Twitter</a></li>
							</div>

							<div class="col-xs-4 col-sm-12 col-md-12 col-lg-12">
								<li><a class='gplus' href='http://plus.google.com/share?url=http://dowloadapps.herokuapp.com/android/<%=@article.slug%>' rel='nofollow' target='_blank' onClick="window.open(this.href,this.target,'width=500,height=500,top=210,left=360'); return false;"><i class='fa fa-google-plus'></i>Google+</a></li>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<!-- Articles de categorias -->
				<div class="col-xs cero-padding">
					<div class="row">
						<div class="col-xs center cero-padding ">
							<h4 class="fondos_h left-align" > Similar a <%= @article.title %></h4>
							<main class="sombras" >
							<% @category_where.each do |tag| %>
								<span><%=tag.name%></span>
								<% tag.articles.limit(6).each do |article| %>
									<%=render @article%>
								<% end %>
							<%end%>
							</main>
						</div>
					</div>
				</div>
		

			</div>
			<div class="border-top row center-xs">
				<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 left-align">
					<h4 class="caracteristicas center-align">Caracteristicas</h4>
					<%= Sanitize.fragment(@article.body, Sanitize::Config::RELAXED).html_safe%>
				</div>
			</div>

			<div class="row">
				<div class="col-xs left-align">
					<%if can? :update, @article%>
					<%= link_to 'Edit', edit_article_path(@article) %>
					<%end%>
				</div>
				<div class="col-xs right-align">
					<%if can? :destroy, @article%>
					<%= link_to 'Back', articles_path %>
					<%end%>
				</div>
			</div>
		</main>

		<div class="row sombras">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-6 left-align">
						<h5>Comentarios</h5>
					</div>
					<div class="col-xs-12">
						<div id="disqus_thread"></div>
							<script>
							(function() { // DON'T EDIT BELOW THIS LINE
							var d = document, s = d.createElement('script');

							s.src = '//dowloadapps.disqus.com/embed.js';

							s.setAttribute('data-timestamp', +new Date());
							(d.head || d.body).appendChild(s);
							})();
							</script>
							<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
					</div>
				</div>
		    </div>
		</div>
	</div>	
</div>
<!-- footershowdowloadapps -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5053365791951337" data-ad-slot="3558091400" data-ad-format="auto"></ins>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<%= render "parciales/footer" %>