<div class="row center-xs">
	<%= render "parciales/tags" %>
	<div class="col s12 center-align">
		<h3 style="font-size: 1.5em;">Todas las categorias</h3>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-11 col-lg-10 cero-padding ">
		<aside>
			<div class="row cero-margin">
				<% @tags.each do |tag| %>
					<div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
						<div class="collection row center-align">
							<%= link_to tag.name,tag,:class =>"collection-item col-xs-12"%>
							<div>
								<%if can? :destroy, @tag%>
									<%= link_to tag, method: :delete, data: { confirm: '¿Desea Eliminar Esto?' } do%>
										<i class="fa fa-trash-o absolute-button" ></i>
									<%end%>
								<%end%>
								<%if can? :update, @tag%>
									<%= link_to "Editar",edit_tag_path(tag) %>
								<%end%>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</aside>
	</div>
	<%= render "parciales/footer" %>
</div>