<div class="row center-xs">
	<%= render "parciales/tags" %>
	<div class="col-xs-12 col-sm-12 col-md-11 col-lg-10 cero-padding">
		<%= render "articles/sliderpatallacompleta" %>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-11 col-lg-10 marin-top cero-padding white">
		<div class="row">
			<div class="col-xs center cero-padding">
			<h1 class="fondos_h text-shadow oculto" >Aplicaciones para Android</h1>
			<h4 class="fondos_h text-shadow left-align mayusculas"><%=link_to @tag.name,tag_path(@tag) %></h4>
				<div>
					<%= render @tag.articles %>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render "parciales/footer" %>