<% require 'devise/version' %>

<p style="font-size:2em; color:red;"><%= t('.greeting', :recipient => @resource.email, :default => "¡Hola #{@resource.email}!") %></p>

<p><%= t('.instruction', :default => "Alguien ha pedido un enlace para cambiar tu password. puedes hacerlo a través del siguiente enlace.") %></p>

<p><%= link_to t('.action', :default => "Cambiar mi contraseña"), edit_password_url(@resource, :reset_password_token => (Devise::VERSION.start_with?('3.') ? @token : @resource.reset_password_token)) %></p>

<p><%= t('.instruction_2', :default => "Si tú no solicitaste este cambio, por favor ignora este mail,") %></p>
<p><%= t('.instruction_3', :default => "tu contraseña no se modificará si no hasta que accedas al link de arriba.") %></p>
