<!DOCTYPE html>
<html lang="es-MX">
	<head>
		<%= meta_tags %>
		<link rel="icon" type="image/png" href="https://res.cloudinary.com/alfredhdz/image/upload/v1452741743/logo_tgkmjf.png" />
		<%= stylesheet_link_tag    'application', media: 'all'%>
		<%= javascript_include_tag 'application'%>
		<%= auto_discovery_link_tag(:rss, "http://dowloadapps.herokuapp.com/feed") %>
		<link rel="alternate" hreflang="es" href="http://dowloadapps.herokuapp.com/" />
	 	<meta name="google-site-verification" content="GZLY42eex8ZXkKsdG8nlMJeflOHqUb3A66ylpeRCrAo" />
	</head>
<body>
  <h1 class="fondos_h text-shadow oculto" >Aplicaciones para Android</h1>
	 <%= render "parciales/navegacion" %>
	 
	<% if notice %>
		<script >
			Materialize.toast('<%= notice %>', 4000)
		</script>
	<% end %>

	<% if alert %>
		<script>
	    Materialize.toast('<%= alert %>', 4000)
	  </script>
	<% end %>

	<div class="fixed-action-btn right-align" style="bottom: 76.5%; right: 0px;">
		<%if can? :new, @article%>
			<%= link_to new_article_path, :class =>"btn-floating btn-large red" do%>
				<i class="fa fa-plus"></i>
			<%end%>
		<%end%>
	</div>
  
 <!--facebook-->
	 <div id="fb-root"></div>

		 <%= analytics_init if GoogleAnalytics.valid_tracker? %>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	 <%= yield %>
	<!-- Modal Structure  de ingresar-->
	<div id="modal1" class="modal">
		<div class="modal-footer">
			<a class="modal-action modal-close waves-circle waves-effect waves-green btn-flat "><i class="fa fa-times"></i></a>
		</div>
		<div class="modal-content ">
			<h4>Log in</h4>
			<%= render "parciales/devise" %>
		</div>
	</div>
  <!-- ventana flotante de registrarse -->
	<div id="modal2" class="modal ">
		<div class="modal-footer">
			<a class="modal-action modal-close waves-effect waves-green btn-flat "><i class="fa fa-times"></i></a>
		</div>
		<div class="modal-content">
			<h4>Registro</h4>
			<%= render "parciales/new" %>
		</div>
	</div>
	<!-- ventana flotante de registrarse -->
	<div id="modal3" class="modal width-full">
		<div class="modal-footer">
			<a class="modal-action modal-close waves-effect waves-green btn-flat "><i class="fa fa-times"></i></a>
		</div>
		<div class="modal-content">
			<div class="row">
			    <div class="col-xs">
			      <ul class="tabs">
			        <li class="tab col-xs-6 active"><a class="active teal-text" href="#test1">Iniciar Sesión</a></li>
			        <li class="tab col-xs-6"><a class="teal-text" href="#test2">Registro</a></li>
			      </ul>
			    </div>
			    <div id="test1" class="col-xs-12">
			    	<h5>Iniciar Sesión</h5>
					<%= render "parciales/devise" %>
			    </div>
			    <div id="test2" class="col-xs-12">
					<h5>Registro</h5>
					<%= render "parciales/new" %>
			    </div>
	  		</div>
		</div>
	</div>
</body>
</html>