<!DOCTYPE html>
<html>
<head>
   <%= meta_tags %>
   <link rel="icon" type="image/png" href="http://compumexicopc.webcindario.com/images/logo.png" />
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= csrf_meta_tags %>
</head>
<body>
   <%= render "parciales/navegacion" %>
   <% flash.each do |key,msg| %>
      <%= content_tag :p,msg, :id=>key %>
   <%end%>
   <div class="fixed-action-btn right-align" style="bottom: 76.5%; right: 0px;">
      <%if can? :new, @article%>
         <%= link_to new_article_path, :class =>"btn-floating btn-large red" do%>
            <i class="material-icons">add</i>
         <%end%>
      <%end%>
   </div>
   <%= yield %>
 <!--facebook-->
   <div id="fb-root"></div>
   <script>
      $(document).on('ready page:load', function () {
         (function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) return;
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.4";
         fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
      });
   </script>
   <!-- Modal Structure -->
   <div id="modal1" class="modal">
      <div class="modal-footer">
         <a class="modal-action modal-close waves-effect waves-green btn-flat "><i class="material-icons">clear</i></a>
      </div>
      <div class="modal-content ">
         <h4>Log in</h4>
         <%= render "parciales/devise" %>
      </div>
   </div>

   <div id="modal2" class="modal ">
      <div class="modal-footer">
         <a class="modal-action modal-close waves-effect waves-green btn-flat "><i class="material-icons">clear</i></a>
      </div>
      <div class="modal-content">
         <h4>Registro</h4>
         <%= render "parciales/new" %>
      </div>
   </div>
</body>
</html>