<!DOCTYPE html>
<html lang="es">
   <head>
      <%= meta_tags %>
      <link rel="icon" type="image/png" href="http://compumexicopc.webcindario.com/images/logo.png" />
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true%>
      <%= auto_discovery_link_tag(:rss, "http://dowloadapps.herokuapp.com/") %>
      <%= csrf_meta_tags %>
   </head>
<body>
   <%= render "parciales/navegacion" %>

    <% if notice %>
      <div id="flash-message" class="flash-message green">
        <button type="button" class="close">&times;</button>
        <i class="fa fa-check"></i><div class="margin"><%= notice %></div>
      </div>
    <% end %>
    <% if alert %>
      
      <div id="flash-message" class="flash-message red">
        <button type="button" class="close">&times;</button>
        <i class="fa fa-exclamation"></i>
        <div class="margin"><%= alert %></div>
      </div>
    <% end %>

   <div class="fixed-action-btn right-align" style="bottom: 76.5%; right: 0px;">
      <%if can? :new, @article%>
         <%= link_to new_article_path, :class =>"btn-floating btn-large red" do%>
            <i class="fa fa-plus"></i>
         <%end%>
      <%end%>
   </div>
  
 <!--facebook-->
   <div id="fb-root"></div>
   
   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72483994-1', 'auto');
  ga('send', 'pageview');

</script>

    <%= yield %>
   <!-- Modal Structure -->
   <div id="modal1" class="modal">
      <div class="modal-footer">
         <a class="modal-action modal-close waves-effect waves-green btn-flat "><i class="fa fa-times"></i></a>
      </div>
      <div class="modal-content ">
         <h4>Log in</h4>
         <%= render "parciales/devise" %>
      </div>
   </div>

   <div id="modal2" class="modal ">
      <div class="modal-footer">
         <a class="modal-action modal-close waves-effect waves-green btn-flat "><i class="fa fa-times"></i></a>
      </div>
      <div class="modal-content">
         <h4>Registro</h4>
         <%= render "parciales/new" %>
      </div>
   </div>
</body>
</html>