<!DOCTYPE html>
<html lang="es-MX">
   <head>
      <%= meta_tags %>
      <link rel="icon" type="image/png" href="http://compumexicopc.webcindario.com/images/logo.png" />
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= auto_discovery_link_tag(:rss, "http://dowloadapps.herokuapp.com/") %>
      <%= csrf_meta_tags %>
      <meta name="google-site-verification" content="-HDR1fDXBp8byMOmnTAZie004nw0WfnpBKP5AJ_Q0QU" />
   </head>
<body>
  <h1 class="fondos_h text-shadow oculto" >Aplicaciones para Android</h1>
    <%= render "parciales/navegacion" %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- dowloadapps -->
    <div class="col-xs center">
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-5053365791951337"
           data-ad-slot="2157240206">
      </ins>
    </div>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <% if notice %>
      <div id="flash-message" class="flash-message green">
        <button type="button" class="close">&times;</button>
        <i class="fa fa-check"></i><div class="margin"><%= notice %></div>
      </div>
    <% end %>
    <% if alert %>
      
      <div id="flash-message" class="flash-message red">
        <button type="button" class="close">&times;</button>
        <i class="fa fa-exclamation"></i>
        <div class="margin"><%= alert %></div>
      </div>
    <% end %>

   <div class="fixed-action-btn right-align" style="bottom: 76.5%; right: 0px;">
      <%if can? :new, @article%>
         <%= link_to new_article_path, :class =>"btn-floating btn-large red" do%>
            <i class="fa fa-plus"></i>
         <%end%>
      <%end%>
   </div>
  
 <!--facebook-->
    <div id="fb-root"></div>

       <%= analytics_init if GoogleAnalytics.valid_tracker? %>
    <%= yield %>
   <!-- Modal Structure -->
   <div id="modal1" class="modal">
      <div class="modal-footer">
         <a class="modal-action modal-close waves-effect waves-green btn-flat "><i class="fa fa-times"></i></a>
      </div>
      <div class="modal-content ">
         <h4>Log in</h4>
         <%= render "parciales/devise" %>
      </div>
   </div>

   <div id="modal2" class="modal ">
      <div class="modal-footer">
         <a class="modal-action modal-close waves-effect waves-green btn-flat "><i class="fa fa-times"></i></a>
      </div>
      <div class="modal-content">
         <h4>Registro</h4>
         <%= render "parciales/new" %>
      </div>
   </div>
</body>
</html>